@model Shopee.Models.Group
@{
    ViewBag.Title = "Credential";
    Layout = "~/Areas/Admin/Views/Shared/_ShopeeAdmin.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Phân quyền nhóm: @Model.Name</h3>
            </div>
            <div class="card-body">
                <p class="text-muted">Đánh dấu trực tiếp vào hộp, hành động sẽ được lưu lại</p>
            </div>
            <form method="post">
                <input type="hidden" name="GroupId" id="GroupId" value="@Model.Id" />
                <div class="model-body">
                    <fieldset>
                        @{
                            List<Shopee.Models.Role> rolelist = (List<Shopee.Models.Role>)ViewBag.rolelist;
                            string groupname = "";
                            Shopee.Models.ShopeeEntities db = new Shopee.Models.ShopeeEntities();
                            foreach (var role in rolelist)
                            {
                                if (role.GroupName != groupname)
                                {
                                    <legend class="text-uppercase font-size-sm font-weight-bold">@role.GroupName</legend>
                                    groupname = role.GroupName;
                                }
                                var credential = db.Credentials.Where(c => c.GroupId == Model.Id && c.RoleId == role.Id).FirstOrDefault();
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input @Html.Raw(credential != null ? "checked" : "") class="update-credential mr-2" data-roleid="@role.Id" type="checkbox">@role.Name
                                    </label>
                                </div>
                            }
                        }
                    </fieldset>
                    <div class="model-footer">
                        <a href="/Admin/Group/Index" class="btn go-back bg-grey-400"><i class="icon-replay mr-2">Quay lại</i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Js{
    <script>
        $(function () {
            $(document).on("click", ".update-credential", function (e) {
                let GroupId = $("#GroupId").val();
                let RoleId = $(this).data("roleid");
                $.get("UpdateRole",
                    {
                        GroupId:GroupId,
                        RoleId:RoleId
                    },
                    function (item) { }
                )
            })
        });
    </script>
}

